<html>
  <body>
    <h1>hello Master Chef from <%= node['fqdn'] %></h1>
    <p>
      <img src="https://learn.chef.io/assets/images/logo-learnchef-62bcba3b.svg"
>
    </p>
    <p>
      <img src="https://cloud.google.com/_static/b589b9ab1c/images/cloud/gcp-logo.svg">
    </p>
    <pre>
      <%= node['hostname'] %>
      <%= node['platform'] %> - <%= node['platform_version'] %>
      <%= node['memory']['total'] %> RAM
      <%= node['cpu']['total'] %> CPUs
    </pre>
  </body>
</html>
